<h1>page to create new playgrounds coming soon!</h1>

<%= form_for @playground do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :suburb %>
    <%= f.text_field :state %>
    <%= f.text_field :country %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.submit "Submit"%>
<% end %>