<h2><%= @playground.name %></h2>
<ul>
    <li><%= @playground.suburb %></li>
    <li><%= @playground.state %></li>
    <li><%= @playground.country %></li>
</ul>

<p><%= link_to "Return to all playgrounds", playgrounds_path %>