<!DOCTYPE html>
<html>
<head>
  <title>Playgrounds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <div id="header"> 
            <div>
                <h1><%= link_to "PG Required", playgrounds_path%></h1>
            </div>
            <div id="login_logout_box">
                <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <%= link_to 'Edit profile', edit_user_registration_path %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path %> |
                  <%= link_to "Login", new_user_session_path %>
                <% end %>
                <br />
                <strong>Admin Tools</strong><br />
                <ul>
                    <li><%= link_to 'View Equipment List', equipment_index_path %></li>
                </ul>
            </div>
        </div>
        
        <div id="content"> 
            <div id="flash">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
            </div>
            <div> 
                <%= yield %>
            </div>
        </div>

        <div id="footer"> insert footer here eventually
        
    
        </div>
    </div>
</body>
</html>
